/* site-wide CSS
 */

body, html {
  margin:0;
  padding:0;
  z-index:0;
}

/* generic CSS defaults for XForms elements */
.xforms-control,
.control {
	display:block;
}
/*
span.xforms-control span {
	display:inline-block; 
	white-space:nowrap;
}
*/

.xforms-input .xforms-label,
.xforms-secret .xforms-label,
.xforms-output .xforms-label,
.xforms-textarea .xforms-label,
.xforms-select1 .xforms-label { 
	display:inline-block; 
	width:30ex; 
	text-align:right; 
	margin-right:1em;
}

.xforms-select1 .xforms-value {
	display:inline-block;
	text-align:left;
	vertical-align:top;
}
/*
.xforms-input, 
.xforms-select1, 
.xforms-textarea, 
.xforms-output {
	display:block;
}
*/

/* read only buttons are disabled */
.xforms-trigger .xforms-readonly button {
	border: 2px outset ButtonFace;
  color: GrayText;
  cursor: inherit;
}

/* minimal appearance for a group = inline */
.xforms-group .xforms-appearance-minimal .xforms-control,
.inline-control .xforms-control {
	display:inline;
}

.inline-control .xforms-group {
	display:inline-block;
}

.inline-control .xforms-group .xforms-group-content {
	display:inline;
}
                                                     

.inline-control .xforms-label {
	padding-right:0.5em;
}

div#allContent {
  width:100%;
  margin:0 auto;
}


*[widgetid="control-login"] .xfControl {
	display:inline;
	width:30%;
}

/* main site layout */
div#logo-div {
	height:3.1em;
	clear:both;
	display:none;	/* to make Aharon happy until we're not in an iframe anymore */
}

img#logo {
	height:3em;
	width:auto;
	float:left;
}

#logo-text {
	font-weight:bold;
	font-size:0.8em;
	padding-left:2px;
	padding-right:2px;
	padding-top:0.7em;
	padding-bottom:0.7em;
	margin:0px;
}

/* sidebar login control */
#sidebar .control-login {
	width:96%;
	font-size:75%;
}

#sidebar .control-login .xforms-input,
#sidebar .control-login .xforms-secret {
	width:95%;
	font-size:75%;
	display:block;
}

#sidebar .control-login .xforms-input .xforms-label,
#sidebar .control-login .xforms-secret .xforms-label {
	text-align:left;
	width:95%;
}

#sidebar .control-login .xforms-input .xforms-value,
#sidebar .control-login .xforms-secret .xforms-value {
	display:block;
	width:15ex;
}

#sidebar .control-login .xforms-output,
#sidebar .control-login .control-login-as {
	display:inline;
}


#sidebar .error-report {
	width:95%;
	font-size:75%;
}

div#header {
  /*
  position:fixed;
  top:0;
  left:0;
  */
  float:top;
  clear:both;
  /*height:3.5em;*/
	width:100%;
  border-bottom:2px solid black;
}

h1#header-title {
  margin-right:0;
	font-family:sans-serif;
	font-size:14pt;
	/*line-height:100px;*/
	display:inline;
}

div#sidebar {
  float:left;
	width:10%;
	overflow-x:hidden;
  overflow-y:auto;
  padding-left:5px;
  padding-right:5px;
  border-right:1px solid gray;
  border-bottom:1px solid black;
}

div#sidebar ul {
  margin:0;
  padding:0;
  list-style:none;
}

div#sidebar li {
  margin:0;
  padding:0;
  margin-top:0.5ex;
  margin-bottom:0.5ex;
}

div#sidebar nav {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div#sidebar a {
  display:block;
}

div#mainContent {
  float:left;
	width:87%;
  border-left:1px solid gray;
  padding:2px;
}

div#appHeader {
	float:left;
	width:87%;
	border:1px solid black;
	border-top:0;
}

div#footer {
  /*
  position:fixed;
  bottom:0;
  left:0;
  */
  height:3em;
  clear:both;
	width:100%;
  border-top:2px solid black;
  padding:5px;
}

/* navigation headers */
.nav-header {
	height:2.5em;
	float:left;
	border-bottom:2px solid black;
	width:100%;
	display:inline-block;
	vertical-align:middle;
}


.nav-header ul {
	display:inline;
	float:left;
	list-style-type: none;
	height:2em;
	padding:0;
	margin:0;
}

.nav-header li {
	margin-left:3em;
	margin-right:3em;
	display: inline;
}

.nav-header .nav-active {
	border:2px solid black;
	background-color:yellow;
} 

.nav-header .save-status {
	height:2.5em;
	float:right;
	display:inline-block;
	vertical-align:middle;
}

.nav-header .save-status .xforms-control {
	display:inline;
}

.nav-header .nav-buttons {
	display:inline-block;
}

.nav-header .nav-buttons .xforms-trigger {
	display:inline;
}

/* repeat control */
.repeat-buttons {
	display:inline-block;
}

.repeat-buttons .xforms-control {
	display:inline;
	padding:0;
	margin:0;
}

.repeat-buttons .repeat-button {
	display:inline;
	padding:0;
	margin:0;
}

/* dialog controls */
.dialog {
  background:white;
  position:fixed;
  z-index:100;
  left:38%;
  top:38%;
  height:25%;
  width:25%;
  padding:1em;
  overflow:auto;
  border-width:2px;
  border-style:solid;
}

.dialog-buttons {
	display:inline-block;	
}

.dialog-buttons .xforms-control {
	display:inline;
	padding:1em;
}

.error-report,
.error {
  border:1px red;
  background-color:#FF6666;
  display:block;
}

.error-report .xforms-control,
.error-report .xforms-label {
	display:inline;
}

/* generic CSS to apply to block forms */



/* invalid controls */
.xfInvalid > .xfValue {
  background-color:#FF6666;
}

/* players form */

/* administrator's access rights box */
.access-rights-editor {
  border:1px solid black; 
}

.access-rights-editor>.xforms-label {
  background-color: gray;
}

.access-rights-editor .xforms-repeat .xforms-repeat-item {
  display:inline-block;
  padding-right:1em;
}

.access-rights-editor .xforms-repeat .xforms-repeat-item .xforms-control {
  display:inline;
}

/* player editor */
.player-editor>.xforms-label {
  background-color: gray;
}

.player-editor .table {
  display:table;
}

.player-editor .table-row,
.player-editor .xforms-repeat-item {
  display:table-row;
  border:1px solid black;
}

.player-editor .main-player-row {
  background-color: LightGray;
}

.player-editor .table-row-group {
  display:table-row-group; 
}

.player-editor .table-cell {
  display:table-cell;
}

.player-editor .table-cell .xf-control {
  display:inline;
}

.player-editor .application-list .xforms-repeat-item {
  display:block;
}

/* ship editor */
.basic-info>.xforms-label,
.roster-editor>.xforms-label {
  background-color: gray;
}

.basic-info .meeting-time>.xforms-label,
.basic-info .game-masters>.xforms-label,
.basic-info .description>.xforms-label,
.roster-editor .unassigned>.xforms-label,
.new-department>.xforms-label {
  background-color: LightGray;
  display:block;
  width:100%;
  text-align:left;
}

.basic-info .meeting-time .xforms-group-content .xforms-control {
  display:inline;
}

.basic-info .meeting-time .xforms-group-content .xforms-label {
  display:inline;
  width:auto;
}

.basic-info .description .xforms-value {
  display:block;
  width:60em;
  height:5ex;
  margin-top:1ex;
  margin-bottom:1ex;
}

.roster-editor .unassigned .xforms-repeat-item {
  display:block;
}

.roster-editor .unassigned .xforms-repeat-item .xforms-control {
  display:inline-block;
}

.roster-editor .department .xforms-repeat-item {
  display:table;
}

.roster-editor .department .header-row {
  display:table-header-group;
  background-color:LightGray;
}

.roster-editor .department .header-row .xforms-input>.xforms-label {
  width:auto;
}

.roster-editor .xforms-group-content {
  display:inline;
}

.roster-editor .department .header-cell {
  display:table-cell;
}

.department .positions {
  display:table-row-group;
}

.roster-editor .positions .xforms-repeat-item,
.roster-editor .table-row {
  display:table-row;
}

.roster-editor .positions .table-cell .xforms-control {
  display:inline;
}
.roster-editor .table-cell {
  display:table-cell;
}
